{% extends 'app/base.html' %}
{% load static %}
{% block body_block %}
	<h1>Project time report</h1>
	<p>Hello {{ user.username }} <a href="/logout">Logout</a></p>
	<p>
		<ul class="button-bar">
			<li><a data-bind="click: loadPreviousWeek, disable: dataLoadingInProgress"><i class="fa fa-angle-double-left"></i> Previous week</a></li>
			<li><a type="button" data-bind="click: loadNextWeek, enable: allSubmitted() && !dataLoadingInProgress()">Next week <i class="fa fa-angle-double-right"></i></a></li>
		</ul>		
	</p>
	<table>
		<thead>
			<tr>
				<th>Project</th>
				<!-- ko if: projects()[0] -->
				<!-- ko foreach: projects()[0].timeentries -->
				<th data-bind="text: date"></th>
				<!-- /ko -->
				<!-- /ko -->
			</tr>
		</thead>
		<tbody data-bind="foreach: projects">
			<tr>
				<td data-bind="text: code + ' - ' + name"></td>
				<!-- ko foreach: $data.timeentries -->
				<td><input style="padding: 5px;" class="col_10 right" data-bind="value: hours, valueUpdate: 'keyup', disable: submitted() || $root.dataLoadingInProgress()"></td>
				<!-- /ko -->
			</tr>
		<tbody>
	</table>
	<p><button class="orange" type="button" data-bind="click: submitUntilCurrentWeek, disable: dataLoadingInProgress">Submit</button></p>
	<img id="loading" style="display: none;" src="{% static "images/loader.gif" %}">
	<p data-bind="visible: showErrorMessage">Ooops! Sorry. Something went wrong while communicating with the server. Please try to <a href="/">refresh</a>
	the page to solve the problem. If that doesn't help <a href="mailto:johan.govers@gmail.com">let us know</a>.</p>
{% endblock %}
{% block script_block %}
	<script src="{% static "js/moment.js" %}"></script>
	<script src="{% static "js/jquery-2.1.3.js" %}"></script>
	<script src="{% static "js/jquery.cookie.js" %}"></script>
	<script src="{% static "js/knockout-3.2.0.js" %}"></script>
	<script src="{% static "js/app.setup.js" %}"></script>
	
	<script src="{% static "js/app.RegistrationVm.js" %}"></script>
	<script src="{% static "js/app.index.js" %}"></script>
{% endblock %}