{% extends 'app/base.html' %}
{% load static %}
{% block body_block %}
	<style>
	    .week-nav{
		cursor: hand; cursor: pointer;
	    }
	    
	    .week-nav.disabled, button:disabled{
		cursor: not-allowed;
	    }
	    
	    .no-border th{
		border: 0px;
	    }
		
		.contain-floats{
			margin: 10px;
			overflow: hidden; /* To make the float size to content */
		}
		
		.pull-right{
			float: right;
		}
		
		.pull-left{
			float: left;
		}
		
		.text-muted {
			color: #777;
		}
		
		.error {
			background-color: #FFC1CC;
		}
		
		.toolbar-label {
			line-height: 36px;
			padding: 0px 12px
		}
	</style>
	<div class="contain-floats">
		<h1 class="pull-left">Project time report</h1>
		<p class="pull-right">Hello {{ user.username }} <a href="/logout">Logout</a></p>
		<img id="loading" class="pull-right" style="display: none; margin-right: 10px;" src="{% static "images/loader.gif" %}">
	</div>
	<p style="color: red" data-bind="visible: showErrorMessage">Ooops! Sorry. Something went wrong while communicating with the server. Please try to <a href="/">refresh</a>
	the page to solve the problem. If that doesn't help <a href="mailto:johan.govers@gmail.com">let us know</a>.</p>		
	<div class="contain-floats">
		<ul class="button-bar pull-left">
			<li><a class="week-nav" data-bind="click: loadPreviousWeek, disable: dataLoadingInProgress"><i class="fa fa-angle-double-left"></i> Previous week</a></li>
			<li><a class="week-nav" type="button" data-bind="click: loadNextWeek, css: {disabled: !allSubmitted() || dataLoadingInProgress()}">Next week <i class="fa fa-angle-double-right"></i></a></li>
		</ul>
		
		<button class="orange pull-right" type="button" data-bind="click: submitUntilCurrentWeek, disable: disableSubmitButton">Submit</button>
		
		<div class="pull-right toolbar-label">
			<span data-bind="text: totalHours"></span><span> hours total</span>
		</div>
		
		<span class="pull-right text-muted toolbar-label" data-bind="text: savedAt"></span>
	</div>
	<table>
		<thead>
			<tr class="no-border">
				<th></th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
			<tr>
				<th>Project</th>
				<!-- ko if: projects()[0] -->
				<!-- ko foreach: projects()[0].timeentries -->
				<th data-bind="text: date"></th>
				<!-- /ko -->
				<!-- /ko -->
			</tr>
		</thead>
		<tbody data-bind="foreach: projects">
			<tr>
				<td data-bind="text: code + ' - ' + name"></td>
				<!-- ko foreach: $data.timeentries -->
				<td><input style="padding: 5px;" class="col_10 right" data-bind="value: hours, valueUpdate: 'keyup', css: {error: hasError()}, disable: submitted() || $root.dataLoadingInProgress()"></td>
				<!-- /ko -->
			</tr>
		<tbody>
	</table>
	<div class="contain-floats">
		<button class="orange pull-right" type="button" data-bind="click: submitUntilCurrentWeek, disable: disableSubmitButton">Submit</button>
	</div>
{% endblock %}
{% block script_block %}
	<script src="{% static "js/moment.js" %}"></script>
	<script src="{% static "js/jquery-2.1.3.js" %}"></script>
	<script src="{% static "js/jquery.cookie.js" %}"></script>
	<script src="{% static "js/knockout-3.2.0.js" %}"></script>
	<script src="{% static "js/app.setup.js" %}"></script>
	
	<script src="{% static "js/app.RegistrationVm.js" %}"></script>
	<script src="{% static "js/app.index.js" %}"></script>
{% endblock %}