<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Perten Time - Report</title>
    </head>

    <body>
        <h1>Report</h1>
        <table>
        	<thead>
        		<tr>
        			<th>User</th>
        			<th>Submitted until</th>
        			{% for project in projects %}
        			<th>{{ project.name }}</th>
        			{% endfor %}
        		</tr>
        	</thead>
        	<tbody>
        		{% for row in data %}
	        	<tr>
	        		<td>{{ row.username }}</td>
	        		<td>{{ row.submitted_until }}</td>
	        		{% for hours in row.project_hours %}
	        		<td>{{ hours }}</td>
	        		{% endfor %}
	        	</tr>
	        	{% endfor %}
        	<tbody>
        </table>
        <img id="loading" style="display: none;" src="{% static "images/loader.gif" %}">
    </body>
</html>